body{
  width: 90%;
  margin: 0 auto;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.jumbotron{
  height: 150px;
  padding-top: 15px;
  background-image: url("../../imagenes/cesped.png");
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.plantilla{
  text-align: center;
  margin-bottom: 30px;
}
img{
  width: 15%;
  margin-right: 5%;
}
th{
  text-align: center;
}
.col-xs-3{
  margin-bottom: 5%;
}
.pdf{
  width: 20%;
}
